

#showContact {
  display: none;
  margin:5%;
  background-color: #dec773;
  border-radius: 25px;
  opacity :1s;
  animation: fade 2s linear forwards;
}
#inline {
  margin:5%;
  display: inline-block;
}
@keyframes fade {
  0%,100% {opacity: 0}
  100% {opacity: 1}
}

#forPicture {
  float: inherit;
}

.containers {
  display: 100%;
}

#newPicture {
  height: 150px;
  width: auto;
}

img#newPicture {
  position: fixed;
  right: 50%;
  top: 30%;

}

h1 {
  text-align: center;
}

p {
  margin-left: 5%;
}

#buttons {
  text-align: center;
  display: inline-block;
}

button#topSubmit {
  text-align: center;
  display: inline-block;
}

/*#findFunction {
  float: right;
}*/

.searchField {
  float: right;
}

input, label {
  display: block;
}

#showContact img{
  width: 100px;
  float: right;
  margin: 20px;
  border-radius: 25px;
}
