

#showContact {
  display: none;
  background-color: #dec773;
  border-radius: 25px;
  opacity :1s;
  animation: fade 2s linear forwards;
}

@keyframes fade {
  0%,100% {opacity: 0}
  100% {opacity: 1}
}

#forPicture {
  float: inherit;
}

.containers {
  display: 100%;
}

#newPicture {
  height: 150px;
  width: auto;
}

img#newPicture {
  float: right;
}

h1 {
  text-align: center;
}

p {
  margin-left: 5%;
}

#buttons {
  text-align: center;

}

button#topSubmit {
  text-align: center;
  display: inline-block;
}

#findFunction {
  float: right;
}
